* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body h1 {
    text-align: center;
    margin: 1rem 2rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #c4c4c4;
}

form {
    width: 80%;
    margin-top: 2rem;
    padding: 1rem;
}

form * {
    outline: none;
}

form fieldset {
    margin-bottom: 0.5rem;
    border: none;
    display: flex;
    justify-content: space-between;
}

form input[type="submit"] {
    margin: 2rem 0;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    background: black;
    color: white;
}

@media (min-width: 700px) {
    form {
        width: 50%;
    }
}